.headline{
    font-family: 'Cinzel Decorative', cursive; 
    font-size: 100px;
}
.subtitle{
    font-family: 'Covered By Your Grace', cursive;
}

#entr{
    font-family: 'Merriweather', serif;
}

