body {
    padding: 1em;
    color: red !important;
    align-content: center;
    background-color: black;
    text-align: center;
    width: 100%;
  
}
li {
    display: inline;
}
/*table*/
table {
    border: none;
    background-color: black;
    border-collapse: collapse;

}

td {
    border: none;
    color: red;
    text-align: center;
}

th {
    border: none;
    color: red;
    text-align: center;
}

h1 {
    font-size: 80px;
    font-family: 'Fondamento', cursive;
    margin-bottom: 0px;
}
h2{
    font-family: 'Fondamento', cursive;
}


h4 {
    color: darkred !important;
}

col{
    padding: 0;
    margin: 0;
}

.show {
    display: block;
}

#myDIV {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: black;
    margin-top: 20px;
}

p {
    align-content: center;
    text-indent: 1%;
    text-align: justify;
    text-align-last: start;
    font-size: 16;
    font-family: 'Garamond';
    width: 60%;
    float: center;
    left: 20%;

}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid darkred;
    margin: 1em 0;
    padding: 0; 
}

.footer {
  position: absolute;
  bottom: 5px;
  left: 5px;
  padding: 1rem;
  color: darkred;
  text-align: left;
  
}
.comm{
    clear: both;
}

  .modal-header, .close, .modal-footer, .modal-body {
      background-color: rgba(0, 0, 0, 1);
      color:red !important;
      text-align: center;
      border: 0px;
      margin: 0px;
  }

  .form-control{
      text-align: center;
  }

